<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>

<p th:text="${user.id}">id</p>
<p th:text="${user.name}">name</p>
<p th:text="${user.lastname}">lastname</p>
<p th:text="${user.age}">age</p>
<p th:text="${user.email}">email</p>
<br/>
<a th:href="@{/admin/users/{id}/edit(id=${user.id})}" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
  <input type="submit" value="Delete" sec:authorize="hasRole('ROLE_ADMIN')"/>
  <br/>
  <a href="/login" >logout</a>
</form>
</body>
</html>